<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Spectrometre - projet long</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/offcanvas.css" rel="stylesheet">
    <script language="javascript" type="text/javascript" src="jquery.js"></script>
  	<script language="javascript" type="text/javascript" src="jquery.flot.js"></script>
  	<script language="javascript" type="text/javascript" src="jquery.flot.symbol.js"></script>
  	<script language="javascript" type="text/javascript" src="jquery.flot.cursor.js"></script>
  	<script language="javascript" type="text/javascript" src="/socket.io/socket.io.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Spectro</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <!--
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          -->
           <a class="btn btn-danger" id="shutdown" style="margin-top:10px;">Shutdown</a>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container" style="margin-top:50px;">
      <div id="header">
    		<h2>Spectromètre</h2>
    	</div>

      <div class="row">
        <div class="col-md-9">
          <div id="graphe" style="height:500px"></div>
          <hr>
          <input type="text" id="temp" value="2"/>
          <button id="acquisition" class="btn btn-primary">Acquisition</button>
          <button id="stop" class="btn btn-default">Stop</button>

          <button id="save_figure" class="btn btn-primary pull-right" >Save</button>
          <button id="add_cursor" class="btn btn-primary pull-right" style="margin-right:10px">Add cursor</button>

        </div>
        <div class="col-md-3">
          <div id="save" style="max-height:800; scollable:auto">
          </div>
        </div>


      </div>
      <hr>
      <br/>
      <footer>
        <p>&copy; CentraleSupelec 2016 - projet long - Portier - Sayous</p>
      </footer>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/bootstrap/ie10-viewport-bug-workaround.js"></script>

    <script src="/js/offcanvas.js"></script>
  </body>
</html>

<script type="text/javascript">

var offset=0;
var continuous=false;
var lastData;


$(document).ready(function() {
	var socket;

	socket = io.connect('http://'+window.location.host);

	socket.on('newData', function (data) {
    lastData=data;
    draw_big_graph(data);
	});

  socket.on("files", function(data){
    var figure=$("<div style='height:500' id='"+data.name+"'></div>");
    figure.css("height",200);
    var hr=$("<hr>");
    $("#save").prepend(hr);
    $("#save").prepend(figure);
    var p_name=$("<p>"+data.name+"</p>");
    var p=$("<p></p>");

    $("#save").prepend(p_name);
    $("#save").prepend(p);
    var remove=$("<span class='glyphicon glyphicon-remove pull-right'></span>");
    var download=$("<span style='margin-right:10px;' class='glyphicon glyphicon-download-alt pull-right'></span>");
    var visualize=$("<span style='margin-right:10px;' class='glyphicon glyphicon-eye-open pull-right'></span>");

    p.append(remove);
    p.append(download);
    p.append(visualize);

    remove.click(function(){
      socket.emit("delete", data.name);
      figure.fadeOut();
      p.fadeOut();
      hr.fadeOut();
    });
    download.click(function(){
      socket.emit("download", data.name);
    });

    var data_string=data.data;
    for(var i=0; i<data_string.length; i++){
      data_string[i][0]=parseInt(data_string[i][0]);
      data_string[i][1]=parseInt(data_string[i][1]);
    }

    visualize.click(function(){
      socket.emit("stop");
      draw_big_graph(data_string);
    });

    $.plot(figure, [{"color":"rgb(255,0,0)",lines:{ lineWidth: 0.5}, data:data_string}],
		{yaxis: {
    	min: 150,
    	max: 560},
        });




  });

  socket.on("download_ok", function(data){
    document.location.href=data;
  });

  $("#acquisition").click(function(){
    socket.emit("newAcquisition", $("#temp").val());
  });

  $("#stop").click(function(){
    socket.emit("stop");
  });

  $("#save_figure").click(function(){
    socket.emit("save", lastData);

  });
  $("#add_cursor").click(function(){
    global_graph.addCursor({
        name: 'cursor'+global_graph.getCursors().length,
        mode: 'xy',
        color: 'blue',
        showIntersections: true,
        snapToPlot: 0,
        symbol: 'cross',
        showValuesRelativeToSeries: 0,
        position: {
            x: 200,
            y: 200
        },
        fontSize:15
    });
  });

  $("#shutdown").click(function(){
    socket.emit("shutdown");
    shutdown();
  });
  var shutdown_timer=40;
  function shutdown(){
    if(shutdown_timer>0)
    {
      shutdown_timer-=1;
      $("#shutdown").html("you can unplug in "+shutdown_timer+"s");
    }
    setTimeout(function(){shutdown();}, 1000);
  }
  var global_graph;

  function draw_big_graph(data){
		global_graph=$.plot("#graphe", [{"color":"rgb(255,0,0)",lines:{ lineWidth: 0.5}, data:data}],
		{yaxis: {
    	min: 150,
    	max: 560},
          grid: {
              hoverable: true,
              clickable: true,
              autoHighlight: false
          }});

  }
});




</script>
